

div#GamePlayVideo_Overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #888888;
    opacity: 0.4;
}

div#keynotePressedContainer {
    font-size: 128px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Keynots Container */

div#keynotesContainerBackground {
    position: absolute;
    width: 30%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 1%,
            white 6%,
            white 13.5%,
            rgba(255, 255, 255, 0) 80%);
    opacity: 0;
}

div#keynotesContainer,
div.keynotesContainer {
    font-size: 128px;
    position: absolute;
    /* top: calc(50% - 64px); */
    left: 20%;
    width: 60%;
    height: 100%;
}

div#keynotesContainerBackground {
    top: calc(50% - 320px);
    height: 640px;
}

div#keynotesContainer {
    top: 0;
    height: 100%;
}

div.keynotesContainer {
    /* position: absolute;
    width: 100%;
    height: 160px; */
    /* border: 1px solid black; */
    opacity: 0.2;
    width: 40%;
}

div.keynotesContainer#keynotesContainer_1 {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 10%,
            white 50%,
            white 90%,
            rgba(255, 255, 255, 0) 93%);
    left: 0%;
}

div.keynotesContainer#keynotesContainer_2 {
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 10%,
            white 50%,
            white 90%,
            rgba(255, 255, 255, 0) 93%);
    left: 60%;
}

/* Display points */

div#pointDisplay {
    position: absolute;
    left: 20%;
    top: 40%;
    width: 60%;
    height: 20%;
}

div.pointDisplay {
    position: absolute;
    width: 50%;
    height: 160px;
    font-size: 64px;
    text-align: center;
}

div.pointDisplay.pointDisplay_0 {
    left: 0%;
}

div.pointDisplay.pointDisplay_1 {
    right: 60%;
}

div.pointDisplay.pointDisplay_Perfect {
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div.pointDisplay.pointDisplay_Good {
    color: blue;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div.pointDisplay.pointDisplay_Bad {
    color: red;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div.pointDisplay.pointDisplay_Miss {
    color: black;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Youtube Player */

#youtubeVideoPlayer {
    width: 800px;
    height: 100%;
}

/* Get Ready Text */

#getReadyText {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 128px;
    text-align: center;
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center;
}

div#getReadyText.GetReadyAnimation {
    animation: GetReadyAnimation linear 0.5s;
}


div#keynoteChecker {
    position: absolute;
    width: 80%;
    height: 30px;
    left: 10%;
    top: 90%;

    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 3%,
            white 5%,
            white 90%,
            rgba(255, 255, 255, 0) 97%);
    opacity: 0;
}

div.keynoteChecker {
    position: absolute;
    /* left: 0px; */
    width: 30.2%;
    /* width: 40%; */
    height: 30px;
    /* opacity: 0.7; */
}

div.keynoteChecker#keynoteChecker_1 {
    border: 1px solid black;
    left: 12.3%;
}
div.keynoteChecker#keynoteChecker_2 {
    border: 1px solid black;
    left: 57.2%;
}

div.keynoteChecker.NoteScoreAnimation_Perfect {
    animation: NoteScoreAnimation_Perfect linear 0.3s;
}

div.keynoteChecker.NoteScoreAnimation_Good {
    animation: NoteScoreAnimation_Good linear 0.3s;
}

div.keynoteChecker.NoteScoreAnimation_Bad {
    animation: NoteScoreAnimation_Bad linear 0.3s;
}

div.keynoteChecker.NoteScoreAnimation_Miss {
    animation: NoteScoreAnimation_Miss linear 0.3s;
}

div.MUSIC_NOTE {
    position: absolute;
    left: 0px;
    /* top: calc(50% - 64px); */
    width: 40%;
    height: 30px;
    /* border-radius: 50%; */
    /* height: 128px; */
}

div.MUSIC_NOTE.showNote {
    opacity: 0;
    animation: NoteShow linear 2s;
}

div.MUSIC_NOTE.showNote.shiftedKey {
    color: white;
}

div.PRESSED_NOTE {
    position: absolute;
    /* left: calc(20% - 32px); */
    left: 28px;
    top: calc(50% - 64px);
    width: 100px;
    height: 20%;
    transform-origin: center;
    border: black;
    text-align: center;
}

div.PRESSED_NOTE.showNote {
    opacity: 0;
    animation: PressedNoteShow linear 0.2s;
}

div#Difficulty {
    padding: 8px;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition-duration: 1s;
}

div#GameScore {
    height: 30px;
    width: 100%;
    padding: 16px;
    font-size: 32px;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}

div#ComboCount {
    height: 48px;
    width: 100%;
    padding: 16px;
    font-size: 24px;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
}

div#ComboCount.ComboCountAnimation {
    animation: ComboCountAnimation linear 0.3s;
}