@keyframes NoteShow {
    0% {
        transform: translateX(130vw);
        opacity: 0.5;
        color: grey;
    }


    50% {
        transform: translateX(50vw);
        opacity: 1;
        color: black
    }


    100% {
        transform: translateX(-30vw);
        opacity: 0.5;
        color: grey;
    }
}

@keyframes PressedNoteShow {
    0% {
        transform: scale(6.0);
        opacity: 0.1;
        color: grey;
    }

    20% {
        transform: scale(1.0);
        opacity: 0.5;
        color: black;
    }

    100% {
        transform: scale(1.0);
        opacity: 0.5;
        color: black;
    }
}

@keyframes GetReadyAnimation {
    0% {
        transform: scale(10.0);
        color: grey;
    }

    20% {
        transform: scale(1.0);
        color: black;
    }

    100% {
        transform: scale(1.0);
        color: black;
    }
}

div#GamePlayVideo_Overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #888888;
    opacity: 0.4;
}

div#keynotePressedContainer {
    font-size: 128px;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

div#keynotesContainerBackground,
div#keynotesContainer {
    font-size: 128px;
    position: absolute;
    left: 0;
    top: calc(50% - 64px);
    width: 100%;
    height: 160px;
}

div#keynotesContainerBackground {
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0) 1%,
            white 6%,
            white 13.5%,
            rgba(255, 255, 255, 0) 80%);
    opacity: 0;
}


#youtubeVideoPlayer {
    width: 800px;
    height: 100%;
}

#getReadyText {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 128px;
    text-align: center;
    display: grid;
    height: 100%;
    align-items: center;
    justify-items: center;
}

div#getReadyText.GetReadyAnimation {
    animation: GetReadyAnimation linear 0.5s;
}


div#keynoteChecker {
    position: absolute;
    width: 60px;
    height: 100%;
    left: 48px;
    top: 0;

    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 20%,
            white 42%,
            white 56%,
            rgba(255, 255, 255, 0) 80%);
    opacity: 0;
}

div.MUSIC_NOTE {
    position: absolute;
    left: 0px;
    /* top: calc(50% - 64px); */
    width: 100%;
    /* height: 128px; */
}

div.MUSIC_NOTE.showNote {
    opacity: 0;
    animation: NoteShow linear 2s;
}

div.PRESSED_NOTE {
    position: absolute;
    /* left: calc(20% - 32px); */
    left: 28px;
    top: calc(50% - 64px);
    width: 100px;
    height: 20%;
    transform-origin: center;
    border: black;
    text-align: center;
}

div.PRESSED_NOTE.showNote {
    opacity: 0;
    animation: PressedNoteShow linear 0.2s;
}

div#Difficulty {
    padding: 16px;
    font-size: 32px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    transition-duration: 1s;
}