* {
    overflow: hidden;
    font-family: Consolas;
    user-select: none;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.MainContainer {
    cursor: none;
    display: flex;

    position: absolute;
    left: calc(50vw - 400px);
    top: calc(50vh - 400px);
    width: 800px;
    height: 800px;
    background-color: white;
}

.transparentFadeIn {
    animation: transparentFadeIn linear 1s;
}

diV#SelectMusicScreen {
    /* background-color: black; */
}

div#fadeOverlay {
    background-color: black;
    opacity: 0;
}

div#fadeOverlay.MainOverlayFadeIn {
    animation: MainOverlayFadeIn 1s linear;
}
 
div#fadeOverlay.MainOverlayFadeOut {
    animation: MainOverlayFadeOut 1s linear;
}