* {
    overflow: hidden;
    font-family: Consolas;
}

body {
    background-color: black;
}

div.MainContainer {
    display: flex;

    position: absolute;
    left: calc(50vw - 400px);
    top: calc(50vh - 400px);
    width: 800px;
    height: 800px;
    border: 5px solid red;
    background-color: white;
}

.transparentFadeIn {
    animation: transparentFadeIn linear 1s;
}

diV#SelectMusicScreen {
    /* background-color: black; */
}

/* Test */
div#GamePlayScreen {
    display: none;
}