/* div#SelectMusicScreen_CoverImageContainer {
    position: absolute;
    width: 100vw;
    height: 100vh;
} */
@keyframes test {
    0% {
        transform: perspective(1000px) rotateY(0);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@keyframes ArrowPressed {
    0% {
        color: red;
    }
    20% {
        color: white;
    }
    100% {
        color: white;
    }
}


div.SelectMusicScreen#SelectMusicScreenContainer {
    overflow: unset;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: black;
}

div.SelectMusicScreen#SelectMusicScreenContainer>div#SelectMusicScreen_CoverImageContainer {
    overflow: inherit;
    position: relative;
    top: -100px;
    width: 150px;
    height: 150px;
    transform: translateZ(-500px) perspective(1000px);
    transform-style: preserve-3d;
    transition-duration: 0.3s;

    /* animation: test 30s linear infinite; */
}

div.SelectMusicScreen#SelectMusicScreenContainer>div#SelectMusicScreen_CoverImageContainer>div.coverImage {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}


div.SelectMusicScreen#SelectMusicScreenContainer>div#SelectMusicScreen_CoverImageContainer>div.coverImage>img {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div#SelectMusicScreen_SelectedMusicInfo {
    position: absolute;
    width: 100%;
    height: 20%;
    text-align: center;
    top: 80%;
    color: white;
    font-size: 32px;
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
    -webkit-text-stroke: 1px blue;
}

div.SelectMusicScreen#SelectMusicArrowContainer {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 20%;
    font-size: 64px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.SelectMusicScreen#SelectDifficultyArrowContainer {
    position: absolute;
    top: 69.5%;
    left: 0;
    width: 100%;
    height: 30%;
    font-size: 64px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

div.SelectMusicScreen.MusicSelectArrow {
    font-weight: bolder;
    padding-left: 36px;
    padding-right: 36px;
}

div.ArrowPressed {
    animation: ArrowPressed 0.5s linear;
}